<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f116a0b60ede4edf9850b2d4e812789a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f116a0b60ede4edf9850b2d4e812789a" ></div>
        
</body>
<script>    
    
            var map_f116a0b60ede4edf9850b2d4e812789a = L.map(
                "map_f116a0b60ede4edf9850b2d4e812789a",
                {
                    center: [43.95308259811061, -78.89989819800012],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_22161ca8b5b74efcae8280e24c60f09f = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_73a869bad73545fca0410a52f7916aa3 = L.polyline(
                [[43.9587606, -78.9021675], [43.958318, -78.9019756]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_eb5017d97bf940cd826330eb5be9e0ed = L.polyline(
                [[43.958318, -78.9019756], [43.9582772, -78.9019579], [43.9580011, -78.9019981]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_9fdc429cef6b49b08a40ef1e92e9a006 = L.polyline(
                [[43.9580011, -78.9019981], [43.9573607, -78.9020762]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_7ca9e5a5cc084f008521b98194f26d76 = L.polyline(
                [[43.9573607, -78.9020762], [43.9570724, -78.9021188], [43.9568658, -78.9021269]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_ef4500cc6db54d1aabbb788949077ceb = L.polyline(
                [[43.9568658, -78.9021269], [43.9567171, -78.9021215], [43.9566341, -78.9021161]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_20dc39dcc8a049d292b5ef27ff82ce4f = L.polyline(
                [[43.9566341, -78.9021161], [43.9566018, -78.902572]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_32e491c0c87f421cbaf84dc7bd2ebf03 = L.polyline(
                [[43.9566018, -78.902572], [43.9563327, -78.902497], [43.9557864, -78.9022603], [43.9555761, -78.90215]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_d6bd1b6ce14c42f6913ca734bb339ea4 = L.polyline(
                [[43.9555761, -78.90215], [43.9554641, -78.9020913]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_77ecbc1ab14441fe89ddc216c28525d9 = L.polyline(
                [[43.9554641, -78.9020913], [43.9555026, -78.9018881], [43.9555837, -78.9014778], [43.9557015, -78.9008877], [43.9558173, -78.9004049], [43.9560364, -78.8996927]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_d5cd1005c6624a98947f632986f628f2 = L.polyline(
                [[43.9560364, -78.8996927], [43.9558801, -78.899623], [43.9532386, -78.898475]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_7403b740991c47dd8bbf4e65ef429e54 = L.polyline(
                [[43.9532386, -78.898475], [43.9531305, -78.8984321]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_93bd66c5ad9642538a4cae929037fb34 = L.polyline(
                [[43.9531305, -78.8984321], [43.9523852, -78.8981189], [43.9518363, -78.8978747], [43.9516901, -78.8978097]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_6291507597c448cc983015f1df2985b5 = L.polyline(
                [[43.9516901, -78.8978097], [43.9517176, -78.8979562], [43.9514826, -78.8989974], [43.95141, -78.89905]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_50ad877ce9034191881827f307bf6e81 = L.polyline(
                [[43.95141, -78.89905], [43.95138, -78.89916], [43.95132, -78.89922], [43.95125, -78.89924]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_d2d576736ee24f7b9f66a07b91fae07b = L.polyline(
                [[43.95125, -78.89924], [43.95119, -78.89924], [43.95063, -78.89902], [43.95019, -78.89882], [43.9500258, -78.8987603]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_0b905d0bef8f4d6b99c3a3741009e9e9 = L.polyline(
                [[43.9500258, -78.8987603], [43.94997, -78.89874], [43.94983, -78.89871], [43.94967, -78.89871], [43.94947, -78.89875], [43.9494086, -78.8987828]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_ed4289b109834b05ae16e80982602bc7 = L.polyline(
                [[43.9494086, -78.8987828], [43.94932, -78.89883], [43.94915, -78.89897], [43.949, -78.89916], [43.94892, -78.89934], [43.94884, -78.89955], [43.94878, -78.89977], [43.94874, -78.89993], [43.94869, -78.9], [43.94866, -78.90004], [43.9486, -78.90006], [43.94843, -78.90002], [43.94792, -78.89989]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_5fad1b7041a6410b86a3fbf0c688b1a1 = L.polyline(
                [[43.94792, -78.89989], [43.9479877, -78.8995303]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_1db4f010adc142e8856f195c1c6e5968 = L.polyline(
                [[43.9479877, -78.8995303], [43.948117, -78.898969], [43.9482648, -78.8990315]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_b146e33abbc14f94ac91a977f9e9643b = L.polyline(
                [[43.9482648, -78.8990315], [43.9482532, -78.8990006], [43.9482426, -78.8989845], [43.948232, -78.8989496], [43.948231, -78.8989067], [43.9482608, -78.8987754]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var poly_line_e4e8036536874012add0e981405747b1 = L.polyline(
                [[43.9482608, -78.8987754], [43.9482909, -78.8986425], [43.9483257, -78.8985661]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            map_f116a0b60ede4edf9850b2d4e812789a.fitBounds(
                [[43.94792, -78.902572], [43.9587606, -78.8978097]],
                {}
            );
        
    
            var marker_7c4f18be0638417cb1b6c38c63392de0 = L.marker(
                [43.9587606, -78.9021675],
                {}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var icon_7bb50d5e3cc64bcd919668216c95d6dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7c4f18be0638417cb1b6c38c63392de0.setIcon(icon_7bb50d5e3cc64bcd919668216c95d6dc);
        
    
            var marker_fed699b90ed2492383d8b2f40fe2acc4 = L.marker(
                [43.94833105, -78.89816678087453],
                {}
            ).addTo(map_f116a0b60ede4edf9850b2d4e812789a);
        
    
            var icon_25013291f76d49889464e3e218866129 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fed699b90ed2492383d8b2f40fe2acc4.setIcon(icon_25013291f76d49889464e3e218866129);
        
</script>